nav{
    display: flex;
    max-width: 80%;
    background-color: black;
    margin: auto;
    justify-content: end;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 3em;
    margin-right: 40px;
}

.options {
    display: flex;
    max-width: 80%;
    margin: auto;
    margin-top: 70px ;
    justify-content: space-evenly;
    font-size: 1.5em;
    color: white;
}

.products{
    display: flex;
    max-width: 80%;
}

img{
    max-width: 300px;
}

table{
    border: 1px solid black;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    max-width: 80%;
    font-size: 1.5em;
    border-spacing: 30px;
}

.dropdown{
    display: inline-block;
}

.dropdown-toggle{
    font-size: 1em;
}

.dropdown-menu{
display: none;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu a{
    display: block;
    font-size: 0.8em;
}

